{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Story 8</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Jquery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        charset="utf-8"></script>
    <!--End Jquery-->


    <!--JS Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <!--End of JS Bootstrap-->

    <style>
        * {
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            outline: none;
        }

        .jumbotron-fluid {
            background: linear-gradient(to bottom, rgba(15,76,117,1) 0%, rgba(15, 76, 177, 0.8) 100%), url('{% static 'bg-masthead.jpg' %}');
            background-position: center;
            background-repeat: no-repeat;
        }

        .display-3 {
            color: white;
            font-weight: bold;
        }

        .lead {
            color: white;
        }

        h1 {
            font-size: 24px;
            color: #274156;
        }

        input[type="text"]{
            width: 100%;
            padding: 2%;
            border-color: #274156;
            border-radius: 10px;
            margin-bottom: 2%;
        }

        .col-md-4 {
            justify-content: center;
            display: flex;
        }

        .card{
            margin: 2%;
            border-radius: 15px;
            padding: 2%;
            border: 3px solid #274156;
        }

        .card-body a{
            cursor: pointer;
            text-decoration: none;
            color: white;
            border : none;  
        }

        .card-body {
            border: 3px;
        }

        .card-body a:hover{
            text-decoration: none;
            color: #274156;
        }

        .card-body a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        border: none;
}

        img {
            justify-content: center;
            display: flex;
            margin: auto;
            width: 50%;
        }

        .accordion .card .card-header {
            background: white;
            border-radius: 15px;
            border: none;
            outline: none;
            text-align: center;

        }

        .accordion>.card:not(:first-of-type) {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        }

        .accordion>.card:not(:last-of-type) {
        border-bottom: 3px solid;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        }

        .btn {
            font-family: Verdana;
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Library</h1>
            <p class="lead">Search your favorite books here</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <input type="text" name="" id="keyword" placeholder="Search your favorite book ..." autocomplete="off">
    </div>
    <div class="container">
        <div class="accordion" id="accordionExample">
    </div>

</body>

<script type="text/javascript">
    $("#keyword").keyup(function(){
        var input = $("#keyword").val();

        //calling using ajax
        $.ajax({

            //direct url to google api's
            url: '/story8/isibuku/?q=' + input,
            
            success: function(data){
                //assign items into array_items
                var array_items = data.items;

                $("#accordionExample").empty();

                //iterate every items in array_items
                for(i = 0; array_items.length; i++){
                    //getting the title of the books
                    var collapse = "collapse"+ i;
                    var heading = "heading" + i;
                    var title = array_items[i].volumeInfo.title;
                    var source_image = array_items[i].volumeInfo.imageLinks.thumbnail; 
                    var description = array_items[i].volumeInfo.description;
                    var read_more = array_items[i].volumeInfo.previewLink;
                    var image = "<img src=" + source_image + "class=" + "card-img" + ">"
                    $("#accordionExample").append(
                    "<div class="+ "card" + ">" +
                        "<div class=" + "card-header" + " " + "id="  + heading + ">" +
                            "<h2 class=" + "mb-0" + ">" +
                            "<button class=" + "btn btn-link" + " " + "type=" + "button" + " " + "data-toggle=" + "collapse" + " " +"data-target=" + "#"+collapse +" " + "aria-expanded=" + "true" + " " + "aria-controls=" + collapse + ">" +
                            title +  "</button>" +
                            "</h2>" + 
                        "</div>" +
                        "<div id=" + collapse  + " " + "class=" + "collapse" + " " + "aria-labelledby=" + heading  + " " +"data-parent=" + "#accordionExample"  + ">" +
                            "<div class=" + "card-body"  + ">" +
                             "<div class=" + "row no-gutters" + ">" +
                                    "<div class=" + "col-md-4" + ">" +
                                        image +
                                    "</div>" +
                                    "<div class=" + "col-md-8" + ">" +
                                        "<div class=" + "card-body" + ">" +
                                            "<h5 class=" + "card-title" + ">" + title + "</h5>" +
                                            "<p class=" + "card-text" +">" + description + "</p>" +
                                            "<a href=" + read_more + "class=" + "btn btn-primary" +  ">" + "Read More ..." + "</a>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +  
                            "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>" 
                    );
                }
            }
        });
    });
</script>

</html>
