{% extends "base6.html" %}
{% load static %}

{% block page_title %}
	{{page_title}}
{% endblock page_title%}

{% block contents %}
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main6.css' %}">

<div class="limiter">
	<div class="container-login100" >
		<div class="wrap-login100">
			<form class="login100-form validate-form" method='post'>
			{%csrf_token%}
				<span class="login100-form-logo">
					<i class="zmdi zmdi-landscape"></i>
				</span>
				<span class="login100-form-title p-b-34 p-t-27">
					JACE
				</span>
				<div class="form-group">
				{{form.as_table}}
				</div>
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						Submit
					</button>
				</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>

<script src="{% static 'js/main4.js' %}"></script>
{% endblock contents %}