{% extends "base6.html" %}
{% load static %}
{% block page_title %}
	{{page_title}}
{% endblock page_title %}
{% block contents %}
  <!-- Font Awesome --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{% static 'card/style.css' %}">

<div class="container">
	<div class="row">
		{% for post in kegiatan %}	
	  <div class="col-sm-3">
		<div class="card border-dark mb-3" style="max-width: 18rem;">
		  <span class="card-header text-white bg-dark mb-3" >{{post.kegiatan}}</span>
		  
		  {% for orang in peserta %}
		  {% if orang.ikutKegiatan == post %}
		  <div class="card-content">
			<p>{{orang.peserta}},  <a href="{% url 'story6:deleteOrang' orang.id %}">Delete</a></p>
		  </div>

		  {% endif %}
		  {%endfor%}
		  <div class="card-action">
			<a href="{% url 'story6:createPeserta' post.id %}">Tambah Peserta</a>
		  </div>
		  
  
		  <div class="card-action">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{post.id}}">Delete </button>
			<!-- Modal -->
				<div class="modal fade" id="delete{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body" style='color: black;'>
							Are you sure about this? This action is permanent delete this data.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<form method="POST" action="{%url 'story6:delete' post.id%}"> 
							{% csrf_token %}
							<button method="POST" name="yes" class="btn btn-danger" type="submit">Delete</button>
							</form>
						</div>
					</div>
					</div>
				</div>
		  </div>
		</div>
	  </div>
	  {%endfor%}
  
	</div>
</div>


  
<a class="btn btn-primary" href="{% url 'story6:createActivity' %}"> Tambah kegiatan</a> 

  

{% endblock contents %}