<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Jace Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	
	
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html">Jace<span>.</span></a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">
					<li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
					<li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container-fluid px-md-0">
					<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img" style="background-image:url(static/images/bg_2.jpg);">
							<div class="overlay"></div>
							<div class="overlay-1"></div>
						</div>
						<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Assalamualaikum Fellas!</span>
								<h1 class="mb-4 mt-3">Hi, I am <span>Jace</span> This is my profile.</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(static/images/about-1.jpg);">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
					<div class="py-md-5">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading">My Intro</span>
								<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
								<p>I'm a University  of Indonesia student with majors in information system. I'm hardworking, and dedicated — all qualities I put forward in everything I do.</p>

								<ul class="about-info mt-4 px-md-0 px-2">
									<li class="d-flex"><span>Name:</span> <span>Sutan Raihan Maulaya</span></li>
									<li class="d-flex"><span>Major:</span> <span>Information System</span></li>
									<li class="d-flex"><span>NPM:</span> <span>1906305820</span></li>
									<li class="d-flex"><span>Date of birth:</span> <span>Desember 25, 2000</span></li>
									<li class="d-flex"><span>Hobby:</span> <span>Playing Games, Editing Video,and Studying</span></li>
									<li class="d-flex"><span>Address:</span> <span>Taman Wisma Asri ,Bekasi Utara</span></li>
									<li class="d-flex"><span>Email:</span> <span>raihanmaulaya@gmail.com</span></li>
									<li class="d-flex"><span>Phone: </span> <span>+6281329767260</span></li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="my-interest d-lg-flex w-100">
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-facebook"></span>
										</div>
										<div class="text"><a href="https://www.facebook.com/RaihanDewa" target="_blank">Facebook</a></div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-instagram"></span>
										</div>
										<div class="text"><a href="https://www.instagram.com/jace.mly" target="_blank">Instagram</a></div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-linkedin"></span>
										</div>
										<div class="text"><a href="https://www.linkedin.com/in/sutan-raihan-m-133a78129/" target="_blank">LinkedIn</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section testimony-section bg-primary">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
					<span class="subheading">Educational</span>
					<h2 class="mb-4">My Educational Info</h2>

				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap py-4">
									<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(static/images/smp\ mutiara.jpg)"></div>
										<div class="pl-3">
											<p class="name">SD MUTIARA 17 AGUSTUS</p>
											<span class="position">2007 ~ 2013</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(static/images/sd\ mutiara.png)"></div>
										<div class="pl-3">
											<p class="name">SMP MUTIARA 17 AGUSTUS</p>
											<span class="position">2013 ~ 2016</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(static/images/smansasi.png)"></div>
										<div class="pl-3">
											<p class="name">SMA NEGERI 1 <br> BEKASI</p>
											<span class="position">2016 ~ 2019</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(static/images/ui.png)"></div>
										<div class="pl-3">
											<p class="name">UNIVERSITAS INDONESIA</p>
											<span class="position">2019 ~ presents</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

		
		

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/scrollax.min.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		
		<script src="{% static 'js/main.js' %}"></script>
		
	</body>
	</html>