<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Jace Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'css/style3.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

	{% include "navbar.html" %}

	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container-fluid px-md-0">
					<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img" style="background-image:url({% static 'images/bg_2.png' %});">
							<div class="overlay"></div>
							<div class="overlay-1"></div>
						</div>
						<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Assalamualaikum Fellas!</span>
								<h1 class="mb-4 mt-3">Hi, I am <span>Jace This is </span>my profile.</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-counter img bg-blue" id="section-counter">
		<div class="container">
			<div class="tengah">
			<div class="row">
					<h1 class="ml1" style="font-family:'Parisienne', cursive;">
						<span class="text-wrapper">
						  <span class="line line1"></span>
						  <span class="letters">"Pulvis et umbra sumus"</span>
						  <span class="line line2"></span>
						</span>
					  </h1>
				</div>
				</div>
			</div>
	</section>


	<section class="ftco-about ftco-section ftco-no-pt ftco-no-pb bg-light" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'images/about.png' %});">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
					<div class="py-md-5">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading">My Intro</span>
								<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
								<p>I'm a University  of Indonesia student with majors in information system. I'm hardworking, and dedicated — all qualities I put forward in everything I do.</p>

								<ul class="about-info mt-4 px-md-0 px-2">
									<li class="d-flex"><span>Name:</span> <span>Sutan Raihan Maulaya</span></li>
									<li class="d-flex"><span>Major:</span> <span>Information System</span></li>
									<li class="d-flex"><span>NPM:</span> <span>1906305820</span></li>
									<li class="d-flex"><span>Date of birth:</span> <span>Desember 25, 2000</span></li>
									<li class="d-flex"><span>Hobby:</span> <span>Playing Games, Editing Video,and Studying</span></li>
									<li class="d-flex"><span>Address:</span> <span>Taman Wisma Asri ,Bekasi Utara</span></li>
									<li class="d-flex"><span>Email:</span> <span>raihanmaulaya@gmail.com</span></li>
									<li class="d-flex"><span>Phone: </span> <span>+6281329767260</span></li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="my-interest d-lg-flex w-100">
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-facebook"></span>
										</div>
										<div class="text"><a href="https://www.facebook.com/RaihanDewa" target="_blank">Facebook</a></div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-instagram"></span>
										</div>
										<div class="text"><a href="https://www.instagram.com/jace.mly" target="_blank">Instagram</a></div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-linkedin"></span>
										</div>
										<div class="text"><a href="https://www.linkedin.com/in/sutan-raihan-m-133a78129/" target="_blank">LinkedIn</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section testimony-section bg-blue">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
					<span class="subheading">Educational</span>
					<h2 class="mb-4">My Educational Info</h2>

				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap py-4">
									<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/smpmutiara.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">SD MUTIARA 17 AGUSTUS</p>
											<span class="position">2007 ~ 2013</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/sdmutiara.png' %})"></div>
										<div class="pl-3">
											<p class="name">SMP MUTIARA 17 AGUSTUS</p>
											<span class="position">2013 ~ 2016</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/smansasi.png' %})"></div>
										<div class="pl-3">
											<p class="name">SMA NEGERI 1 <br> BEKASI</p>
											<span class="position">2016 ~ 2019</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/ui.png' %})"></div>
										<div class="pl-3">
											<p class="name">UNIVERSITAS INDONESIA</p>
											<span class="position">2019 ~ presents</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section bg-light" id="skills-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Skills</span>
					<h2 class="mb-4">My Skills</h2>
					<p>This content below are my skills that i have grinded</p>
				</div>
			</div>
			<div class="row progress-circle mb-5">
				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Valorant</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='95'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'valorant.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- Demo info -->
						
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">95%</h2>
					</div>
					<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Python</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='85'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'python.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">85%</h2>
					</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">HTML</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='70'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'html.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">70%</h2>
					</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Java</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='90'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'java.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">90%</h2>
					</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Premiere Pro</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='83'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'premiere.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">83%</h2>
					</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Dota 2</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='95'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<img src="{% static 'dota.png' %}" width="80" height="100">
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class=skillstengah>
							<br>
						<h2 style="font-family: 'Mr Dafoe', cursive;">95%</h2>
					</div>
						<!-- END -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-hireme">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-8 col-lg-8 d-flex align-items-center">
					<div class="w-100 py-4">
						<h2>This is My FunFact</h2>
						<p>Gw tuh orangnya suka banget main game tapi semenjak semester 3 menyerang, yaa gitu dehh.</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 d-flex align-items-end">
					<img src="{% static 'images/author.png' %}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-project" id="projects-section">
		<div class="container-fluid px-md-4">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Accomplishments</span>
					<h2 class="mb-4"> My Experiences</h2>
					<p>This content below are my experiences</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-1.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Robotic</a></h3>
							<span>Cyber Competition 8</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-2.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Project Officer</a></h3>
							<span>Cyber Competition 9</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-3.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Playground</a></h3>
							<span>COMPFEST</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-4.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Games</a></h3>
							<span>Pesta Rakyat Komputer</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-5.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Business Development</a></h3>
							<span>SIWAK 2020</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-6.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Mentor</a></h3>
							<span>PMB 2020</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-7.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Public Relation</a></h3>
							<span>Universitas Indonesia Esport Competition</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-8.jpg' %});">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Staff of Documentation</a></h3>
							<span>EDUDAY 2020</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

		
		

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
		<script src="{% static 'js/scrollax.min.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script>
		// Wrap every letter in a span
			var textWrapper = document.querySelector('.ml1 .letters');
			textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
			
			anime.timeline({loop: true})
			  .add({
				targets: '.ml1 .letter',
				scale: [0.3,1],
				opacity: [0,1],
				translateZ: 0,
				easing: "easeOutExpo",
				duration: 600,
				delay: (el, i) => 70 * (i+1)
			  }).add({
				targets: '.ml1 .line',
				scaleX: [0,1],
				opacity: [0.5,1],
				easing: "easeOutExpo",
				duration: 700,
				offset: '-=875',
				delay: (el, i, l) => 80 * (l - i)
			  });
			  </script>
		
	</body>
	</html>