<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jace Landing Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
        <script>
            window.transitionToPage = function(href) {
            document.querySelector('body').style.opacity = 0
            setTimeout(function() { 
                window.location.href = href
            }, 500)
            }
            document.addEventListener('DOMContentLoaded', function(event) {
                document.querySelector('body').style.opacity = 1
            })
    </script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">JACE.</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-15 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">HEY GUYS! <br> I'm Jace Herondale</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">If you want more about me. Press the button below!</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="transitionToPage('/story1')">My Story 1</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="transitionToPage('/story3')">My Story 3</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="transitionToPage('/story5')">My Story 5</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="transitionToPage('/story6')">My Story 6</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="transitionToPage('/story7')">My Story 7</a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
