{% extends "base.html" %}
{% load static %}
{% block page_title %}
	{{page_title}}
{% endblock page_title %}
{% block contents %}
  <!-- Font Awesome --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{% static 'card/style.css' %}">

<div class="container">
	<div class="row">
		{% for post in posts %}	
	  <div class="col-sm-3">
		<div class="card border-dark mb-3" style="max-width: 18rem;">
		  <span class="card-header text-white bg-dark mb-3" >{{post.nama_mata_kuliah}}</span>
		  <div class="card-content">
			<p>Credits : {{post.jumlah_sks}}</p>
			<p>Lecture : {{post.dosen_pengajar}}</p>
		  </div>
		  <div class="card-action">
			<a data-toggle="modal" data-target="#exampleModalLong{{post.id}}" style="color: aqua;">Detail</a>
		  </div>
		  
		  <!-- Modal Details -->
			<div class="modal fade" id="exampleModalLong{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body" style="color: black;">
						<h1>{{post.nama_mata_kuliah}}</h1>
						<p>Nama Dosen : {{post.dosen_pengajar}}</p>
						<p>Credits    : {{post.jumlah_sks}}</p>
						<p>Description: {{post.deskripsi_mata_kuliah}}</p>
						<p>Period Year : {{post.semester_tahun}}</p>
						<p>Clasroom : {{post.ruang_kelas}}</p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
				</div>
			</div>
  
		  <div class="card-action">
			<a class="btn btn-warning" href="{%url 'story5:update' post.id%}" >Update</a>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete </button>
			<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body" style='color: black;'>
							Are you sure about this? This action is permanent delete this data.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<form method="POST" action="{%url 'story5:delete' post.id%}"> 
							{% csrf_token %}
							<button method="POST" name="yes" class="btn btn-danger" type="submit">Delete</button>
							</form>
						</div>
					</div>
					</div>
				</div>
		  </div>
		</div>
	  </div>
	  {%endfor%}
  
	</div>
</div>





<!-- Dibawah pake table -->


<!-- <table class="table">
	<thead class="thead-dark">
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Mata Kuliah</th>
		<th scope="col">Dosen</th>
		<th scope="col">SKS</th>
		<th scope="col">Deskripsi</th>
		<th scope="col">Semester Tahun</th>
		<th scope="col">Ruang kelas</th>
		<th scope="col">Hapus</th>
		<th scope="col">Ubah</th>
	  </tr>
	</thead>
	<tbody>
	{% for post in posts %}	
	  <tr style="color: black;">
		<th class="enjoy" scope="row">{{forloop.counter}}</th>
		<td>{{post.nama_mata_kuliah}}</td>
		<td>{{post.dosen_pengajar}}</td>
		<td>{{post.jumlah_sks}}</td>
		<td>{{post.deskripsi_mata_kuliah}}</td>
		<td>{{post.semester_tahun}}</td>
		<td>{{post.ruang_kelas}}</td>
		<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete </button></td>
		   Modal -->
		<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style='color: black;'>
				Are you sure about this? This action is permanent delete this data.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<form method="POST" action="{%url 'story5:delete' post.id%}"> 
				{% csrf_token %}
            	<button method="POST" name="yes" class="btn btn-danger" type="submit">Delete</button>
 				</form>
			</div>
			</div>
		</div>
		</div>
		<td><a class="btn btn-warning" href="{%url 'story5:update' post.id%}" >Update</a></td>
	  </tr>
	  {%endfor%}
	</tbody>
  </table>  --> 
  
<a class="btn btn-primary" href="{% url 'story5:create' %}"> Tambah </a> 
  

{% endblock contents %}